<h1>Edit book</h1>

<%= form_with model: @list, url: update_list_path(@list.id), method: :patch do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Update Book' %>
  
<% end %>

<%= link_to "Show", list_path(@list.id) %>
|
<%= link_to "Back", "/books" %>