<p>
  <%= flash[:notice] %>
</p>




<p><strong>Title:</strong></p>
<p><%= @list.title %></p>
<p><strong>Body:</strong></p>
<p><%= @list.body %></p>


<%= link_to "Edit", edit_list_path(@list.id) %>
|
<%= link_to "Back", "/books" %>